#spinner {
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
}